/* Fonts  */

@font-face {
  font-family: 'Playfair-Bold';
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Campton-Light';
  src: url('../fonts/Campton-Light.ttf');
}

@font-face {
  font-family: 'Campton-Bold';
  src: url('../fonts/Campton-Bold.ttf');
}

@font-face {
  font-family: 'Campton-SemiBold';
  src: url('../fonts/campton-semibold.ttf');
}

@font-face {
  font-family: 'Campton-Medium';
  src: url('../fonts/Campton-Medium.ttf');
}

@font-face {
  font-family: 'Campton-LightItalic';
  src: url('../fonts/Campton-LightItalic.ttf');
}

* {
  outline: none !important;
}

body {
  font-family: 'Campton-Light' !important;
}

.semiBoldFont {
  font-family: 'Campton-SemiBold' !important;
}

.boldFont {
  font-family: 'Campton-Bold' !important;
}

.mediumFont {
  font-family: 'Campton-Medium' !important;
}

.italicFont {
  font-family: 'Campton-LightItalic' !important;
}

.boldFont-Play {
  font-family: 'Playfair-Bold' !important;
}

/* Preloader  */

#world {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  transition: 1s;
}

/* End of Preloader  */

.lsp-1 {
  letter-spacing: 1.2px;
}

.lsp-05 {
  letter-spacing: 0.54px;
}

.activeMenu {
  color: #444444 !important;
}

.header {
  animation: secFadeIn 2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.activeMenu:after {
  width: 100%;
  height: 10px;
  background-color: #FFD500;
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
}

.activeHeader {
  background-color: #fff;
  box-shadow: -3px 0px 0px 1px #0000000f;
}

.menu, .viewMenu {
  color: #888888;
}

.menu:hover:after, .viewMenu:hover:after {
  width: 100%;
}

.menu:hover, .viewMenu:hover {
  color: #444444;
}

.menu:after {
  height: 10px;
  background-color: #FFD500;
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.viewMenu:after {
  height: 3px;
  background-color: #444444;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 2;
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.firstSection {
  height: 100vh;
  background-image: url('../images/yellow-rectangle.svg');
  background-size: 38% !important;
  background-repeat: no-repeat !important;
  background-position: top left !important;
  padding: 3%;
  animation: secFadeIn 2s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.bannerFontBig {
  font-size: 10vh;
}

.bannerFontMedium {
  font-size: 6vh;
}

.lightGreyColor {
  color: #444444 !important;
}

.lightBlackColor {
  color: #222222 !important;
}

/* Preloader  */

.loader {
  position: absolute !important;
  top: 50%;
  right: 50%;
}

.loader, .loader:before, .loader:after {
  background: #FFD500;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #FFD500;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before, .loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.banner .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}

.banner .box .title h1 {
  color: #000;
  font-size: 10vh;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.banner .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #FFD500;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.banner .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.banner .box .role .block {
  width: 0%;
  height: inherit;
  background: #FFD500;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1s;
  display: flex;
}

.banner .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 1s;
  opacity: 0;
  color: #000;
  font-size: 5vh;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.banner .box .role .aboutContent {
  animation: secFadeIn 2s forwards;
  animation-delay: 2s;
  opacity: 0;
  color: #000;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: inherit !important;
}

.banner .viewProfileButton {
  animation: secFadeIn 2s forwards;
  animation-delay: 2.2s;
  opacity: 0;
}

.viewProfileButton img {
  height: 25px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

.viewProfileButton {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #444444;
  color: #444444 !important;
  border-radius: 40px;
  padding: 7px 15px 7px 20px;
  width: 170px;
}

.commonSection {
  border-radius: 40px;
  padding: 25px 30px;
}

.sectionTop {
  margin-top: 150px;
}

.websiteSection {
  background: #FFF8E8 0% 0% no-repeat padding-box;
}

.mobileSection {
  background: #EBFAFF 0% 0% no-repeat padding-box;
}

.graphicSection {
  background: #E9F6FF 0% 0% no-repeat padding-box;
}

.logoSection {
  background: #F8F2E0 0% 0% no-repeat padding-box;
}

.laptopMargin {
  margin-top: -260px;
}

.mobileMargin {
  margin-top: -140px;
  margin-left: -90px;
}

.graphicMargin {
  margin-top: -200px;
}

.jusEnd {
  justify-content: flex-end;
}

.jusBetween {
  justify-content: space-between;
}

.logo {
  height: 40px;
}

.logoContainer {
  display: none;
}

.logoContainerBlock {
  display: block;
}

.sliderImage {
  animation: secFadeIn 2s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.btn {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 40px;
  font-size: 1em;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  //stroke: #EC0033;
  stroke-width: 1;
  stroke-dasharray: 200, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn:hover svg rect {
  stroke-width: 1;
  stroke-dasharray: 100, 543;
  stroke-dashoffset: 437;
}
.viewProfile{
  line-height:2.4;
}
 /* Arrow Hover animation  */
 
 .arrowButton .arrow {
  background: #222222;
  height: 1px;
  width: 30px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translate(-30px, 0px);
  display:none;
}
.arrowButton .arrow:before, .arrowButton .arrow:after {
  content: "";
  background: #222222;
  position: absolute;
  height: 1px;
  width: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.arrowButton .arrow:before {
  right: -2px;
  bottom: -5px;
  transform: rotate(-45deg);
}
.arrowButton .arrow:after {
  right: -2px;
  top: -5px;
  transform: rotate(45deg);
}
.arrowButton:hover .arrow:before, .arrowButton:hover .arrow:after {
  opacity: 1;
  visibility: visible;
}

.arrowButton:hover .arrow {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  display:block;
}
.arrowButton:hover .arrow:before {
  animation: animation-3-before 1s ease 0s 1 alternate both;
}
.arrowButton:hover .arrow:after {
  animation: animation-3-after 1s ease 0s 1 alternate both;
}

@keyframes animation-3-after {
  0% {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
    background: #FFD500;
  }
  25% {
    width: 3px;
    border-radius: 50%;
    top: 20px;
    left: 15px;
  }
  75% {
    width: 3px;
    border-radius: 50%;
    top: -20px;
    left: 15px;
  }
  100% {
    right: -2px;
    bottom: -5px;
    transform: rotate(-135deg);
    height: 1px;
    width: 15px;
    background: #222222;
  }
}
@keyframes animation-3-before {
  0% {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
    background: #FFD500;
  }
  25% {
    width: 3px;
    border-radius: 50%;
    top: -20px;
    left: 15px;
  }
  75% {
    width: 3px;
    border-radius: 50%;
    top: 20px;
    left: 15px;
  }
  100% {
    right: -2px;
    bottom: -5px;
    transform: rotate(135deg);
    height: 1px;
    width: 15px;
    background: #222222;
  }
}
@keyframes animation-3-after-reverse {
  0% {
    left: -3px;
    bottom: -4px;
    transform: rotate(135deg);
    height: 1px;
    width: 15px;
    background: #222222;
  }
  50% {
    width: 3px;
    border-radius: 50%;
    top: -20px;
    left: 15px;
  }
  100% {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
  }
}
@keyframes animation-3-before-reverse {
  0% {
    left: -3px;
    bottom: -4px;
    transform: rotate(-135deg);
    height: 1px;
    width: 15px;
    background: #222222;
  }
  50% {
    width: 3px;
    border-radius: 50%;
    bottom: -20px;
    left: 15px;
  }
  100% {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
  }
}
.viewProfileDiv{
  padding: 0px 10px;
    justify-content: center;
    align-items:center;
    margin-right:10px;
}